# Ignore all of the files and folders
__pycache__
.idea
adding/
excel/
logging/log_scheduling.txt
logging/alllogs.txt
logging/readlogs.txt
viber/vibertokens.py
plants.py
headers.py
telegram/telegramtokens.py
